<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--
    namespace:名称空间
-->

<mapper namespace="com.example.mapper.CityMapper">

    <select id="selectAll" resultType="gaode_city">
        select *
        from gaode_cityCode;
    </select>
    <select id="select" resultType="gaode_city">
        select *
        from gaode_cityCode
        where
            city_name=#{city_name}
    </select>
    <select id="selectByCityName" resultType="gaode_city">
        select *
        from gaode_cityCode
        where
            city_name like #{city_name}
    </select>


</mapper>